<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">



</head>

<body>

    <div id="app">

        <v-app>
            <v-main>
                <v-container>
                    <h3>Choose your enemies!</h3>
                    <v-select v-model="selected" :items="agents" label="Select the agents you want to play against"
                        multiple chips hint="Available agents" persistent-hint></v-select>

                    <h3>Then start the game by pressing the button below!</h3>
                    <v-btn @click="start">Start!</v-btn>
                </v-container>
            </v-main>
        </v-app>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            delimiters: ['[[', ']]'],
            data: {
                agents: JSON.parse('{{ agents|tojson }}'),
                selected: []
            },
            methods: {
                start: function () {
                    if (this.selected.length == 0) {
                        alert('Please select at least one enemy to play against.')
                        return
                    }
                    fetch('http://localhost:5000/start',
                        {
                            method: "POST",
                            body: JSON.stringify({ agents: this.selected }),
                            mode: 'cors',
                            headers: {
                                'Content-Type': 'application/json',
                            }
                        }
                    )
                        .then(response => response.json())
                        .then((resp) => {
                            gameId = resp.game_id
                            console.log(gameId);

                            window.location.href = `http://localhost:5000/game?id=${gameId}`
                        })
                        .catch((e) => console.error(e));
                }
            }
        })
    </script>


</body>




</html>